
<div class="navi-bottom">

 <div class="container">
   <img class="img-responsive imgbw" src="/img/others/lowerbanner.png">
 </div><hr style="border:solid #eee 1px">

 <div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-4 col-xs-6">
    	<h4 style="color: darkgrey">来源</h4>
    	<ul style="list-style: none; margin: 0; padding: 0; columns: 2; -webkit-columns: 2; -moz-columns: 2;">
    		<li><img src="/img/others/amazonde-logo.png" width=80px title="德国亚马迅自营"></li>
		<li>&nbsp; </li>
    		<li><img src="/img/others/shop-apotheke-logo.png" width=80px title="网上药店"></li>
		<li>&nbsp; </li>
    		<li><img src="/img/others/dm-logo.png" width=80px title="德国DM药妆超市"></li>
		<li>&nbsp; </li>
    		<li><img src="/img/others/kidsroom-logo.png" width=80px title="德国母婴用品网站"></li>
    	</ul>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-6">
    	<h4 style="color: darkgrey">支付方式</h4>
    	<ul style="list-style: none; margin: 0; padding: 0; columns: 2; -webkit-columns: 2; -moz-columns: 2;">
    		<li><img src="/img/others/paypal-logo.png" width=80px title="PayPal"></li>
		<li>&nbsp; </li>
    		<li><img src="/img/others/alipay-logo.png" width=80px title="支付宝付款"></li>
		<li>&nbsp; </li>
    		<li><img src="/img/others/unionpay-logo.png" width=80px title="银行转账"></li>
		<li>&nbsp; </li>
    		<li><img src="/img/others/weixin-pay.png" width=80px title="微信支付 (即将开通)"></li>
    	</ul>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-6">
    	<h4 style="color: darkgrey">国际快递</h4>
    	<ul style="list-style: none; margin: 0; padding: 0; columns: 2; -webkit-columns: 2; -moz-columns: 2;">
    		<li><img src="/img/others/dhl-logo.png" width=80px title="德国邮政DHL"></li>
		<li>&nbsp; </li>
    		<li><img src="/img/others/postnl-logo.png" width=80px title="PostNL 荷兰邮政"></li>
		<li>&nbsp; </li>
    		<li><img src="/img/others/bpost-logo.png" width=80px title="Bpost 比利时邮政"></li>
		<li>&nbsp; </li>
    		<li><img src="/img/others/ems-logo.png" width=80px title="中国邮政EMS"></li>
    	</ul>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-6">
    	<h4 style="color: darkgrey">分类</h4>
    	<ul style="list-style: none; margin: 0; padding: 0; columns: 2; -webkit-columns: 2; -moz-columns: 2;">
		<li><a href="/my/">母婴成长</a></li> 
		<li><a href="/bj/">营养保健</a></li>
		<li><a href="/rh/">日化护肤</a></li>
		<li><a href="/ct/">食品茶糖</a></li>
		<li><a href="/sh/">品质生活</a></li>
		<li><a href="/fs/">箱包服饰</a></li>
		<li><a href="/wj/">文具办公</a></li>
		<li><a href="/ts/">特色创意</a></li>
    	</ul>
    </div>

  </div>
  <div class="row" style="margin-top: 0.3cm;">
	<center><h4>
    		<span class="fa fa-shopping-cart">&nbsp;<a href='/cart/'>购物车 (<span class="simpleCart_quantity"></span>)</span></a>&emsp;&emsp;&emsp; 
   		<span class="fa fa-search">&nbsp;<a href='/search/'>商品搜索</span></a>&emsp;&emsp;&emsp;
    		<span class="fa fa-truck">&nbsp;<a href='/itrack/'>包裹查询</span></a>&emsp;&emsp;&emsp;
    		<span class="fa fa-tag">&nbsp;<a href='/deals/'>打折优惠</span></a>
	</h4></center>
  </div>

 </div>
</div>

