{% assign hasSimilar = '' %}
{% assign genes = site.genes %}
{% for gene in genes  %}
    {% assign prodHasSimilar = false %}
    {% for cdd in gene.cdd %}
        {% for thisTag in page.cdd %}
            {% if prodHasSimilar == false and hasSimilar.size < 6 and gene != page and tag == thisTag %}
                {% if hasSimilar.size == 0 %}
		<br><br>
		<hr style="border:solid #eeeeee 2px;">
                <h3 style="color: darkgrey">With Similar Domain(s)</h3><br>
                {% endif %}
<!--		    {% include product-grid-item-small.html gene=gene %} -->
		    <h4>{{ gene.title }}</h4>
                {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                {% assign prodHasSimilar = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% if hasSimilar.size > 0 %}
{% endif %}
