<footer class="site-footer">
<hr style="border:solid #afb5bc 1px;">
<div class="container">
<center>
<p>&copy; 2016 TREMATO.DE &nbsp;&nbsp;<a href='{{ site.baseurl }}/about/'>About</a>&nbsp;&nbsp;<a href='{{ site.baseurl }}/contact/'>Contact</a>&nbsp;&nbsp;<a href='{{ site.baseurl }}/updates/'>Updates</a></p>
<small><p>Links: <a href='http://parasite.wormbase.org/' target=_blank>WormBase Parasite</a>&nbsp;&nbsp;<a href='http://genedb.org/' target=_blank>GeneDB</a>&nbsp;&nbsp;<a href='http://www.ncbi.nlm.nih.gov/Structure/bwrpsb/bwrpsb.cgi' target=_blank>CD-search</a>&nbsp;&nbsp;<a href='http://www.kegg.jp/' target=_blank>KEGG</a></p></small>
</center>
</div>
</footer>

