---
layout: default
---

<h3>{{ page.title }}</h3><hr>
<h4 style="color:#003366;">Organism: <a href="/sm/"><em>Schistosoma mansoni</em></a></h4>
<h4 style="color:#194755;">Description: <strong>{{ page.description }}</strong></h4> 
<h4 style="color:#2a334f;">Length (mRNA): {{ page.length }} <small>({{ page.smp }})</small></h4><br>
<h4 style="color:#800080;">NCBI Blast: Protein - <a href=http://www.genedb.org/SequenceDistributor/{{ page.title }}/PROTEIN/NCBI_BLAST target=_blank><strong>Blastp</strong></a>&nbsp;&nbsp; DNA - <a href=http://www.genedb.org/SequenceDistributor/{{ page.title }}/GENE_SEQUENCE/NCBI_BLAST target=_blank><strong>Blastn</strong></a></h4>
<h4 style="color:#660066;">WormBase Parasite Entry: <a href=http://parasite.wormbase.org/Schistosoma_mansoni_prjea36577/Gene/Summary?g={{ page.title }} target=_blank><strong>{{ page.title }}</strong></a></h4> <br>

<h4 style="color:#a5682a;">UniProt Entry:
{% if page.uniprot == 'ns' %}
 <em>not found.</em></h4>
{% else %}
 <strong><a href=http://www.uniprot.org/uniprot/{{ page.uniprot }} target=_blank>{{ page.uniprot }}</a></strong></h4>
{% endif %}

<h4 style="color:#8b0000;">Conserved domain(s) (NCBI CDD)<sup>*</sup></h4>
{% if page.cdd == 'ns' %}
 <p><em>not found.</em></p>
{% else %}
 <p>{{ page.cdd }}</p>
{% endif %}

<h4 style="color:#794044;">KEGG Ortholog<sup>**</sup>: 
{% if page.kk == 'ns' %}
 <em>not found.</em></h4>
{% else %}
<a href=http://www.kegg.jp/dbget-bin/www_bget?ko:{{ page.kk }} target=_blank><strong>{{ page.kk }}</strong></a></h4>
{% endif %}
<em class="pull-right"><small style="color:#e3e3e3;">* Mapping as of 20.02.2015 &nbsp;&nbsp; ** Mapping as of 16.02.2015</small></em>

<br>

<h4 style="color:#008000;">Differential Gene Expression</h4>
<p>Available differential expression data is shown below. Please refer to the original study for details.</p> 
  <center><div id="plots" class="row">
     	<img class="img-responsive img-thumbnail" src="https://dl.dropboxusercontent.com/u/98419245/plots-ad/{{ page.grp }}/{{ page.smp }}.png" style="border-style: none" width="45%">
	<img class="img-responsive img-thumbnail" src="https://dl.dropboxusercontent.com/u/98419245/plots-la/{{ page.grp }}/{{ page.title }}.png" style="border-style: none" width="45%">
  </div></center>
<strong>Please cite above results (if shown) as:</strong>
 <ul>
   <li>(Left) Lu, Z. et al. (2016) Sci Rep (in press)</li>
   <li>(Right) Protasio A. et al. (2012) PLoS Negl Trop Dis <a href=http://dx.doi.org/10.1371/journal.pntd.0001455>doi:10.1371/journal.pntd.0001455</a>

 </ul><br><br>



  <div class="row">
  {% include related-genes.html %}
  </div>

